[submodule "D3Database"]
	path = D3Database
	url = https://github.com/Valentin-alix/D3Database
[submodule "UABEA"]
	path = UABEA
	url = https://github.com/Valentin-alix/UABEA
[submodule "protodec"]
	path = protodec
	url = https://github.com/Xpl0itR/protodec
[submodule "Il2CppDumper"]
	path = Il2CppDumper
	url = https://github.com/Perfare/Il2CppDumper
